<div class = "header-chat">
  <div class = "group-name">
    hogefuga
  </div>
  <div class = "finish-chat">
    <a href = "#">チャットを終了する</a>
  </div>
</div>

<div class = "center-chat">
  <div class = "messages">
    <div class = "message-name">
      Hayato
    </div>
    <div class = "message-time">
      2020/10/01(Thr) 17:04:30
    </div>
  </div>
  <div class = "message">
    お疲れ様
  </div>
  <div class = "messages">
    <div class = "message-name">
    Akira
    </div>
    <div class = "message-time">
    2020/10/01(Thr) 18:21:30
    </div>
  </div>
  <div class = "message">
  頑張ります
  </div>
</div>

<div class = "bottom-chat">
  <div class = "forms">
    <input class = "form-message" placeholder = "tipe a message">
    <label class = "form-image">
      <span class = "image-file">画像</span>
      <input type = "file" class = hidden>
  </div>
  </label>
  <input class = "form-submit" type = "submit" value = "送信">
</div>