<div class = header-bar>
  <div class = user-name>
    Hayato
  </div>
  <div class = chat-link>
    チャットを作成する
  </div>
</div>

<div class = main-bar>
  <div class = chat-room>
    Chatroom1
  </div>
</div>