.wrapper {
  display: flex;
}

  .side-bar{
    height: 100vh;
    width: 300px;
  }

    .header-bar{
      height: 100px;
      width: 300px;
      background-color: #253141;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
    }

      .user-name{
        display: flex;
        align-items: center;
      }

        .user-name a{
          font-size: 16px;
          color: #fafafa;
          text-decoration: none;
        }

      .chat-link{
        display: flex;
        align-items: center;
      }

        .chat-link a{
          font-size: 10px;
          color: deepskyblue;
          padding: 14px;
          border: 1px solid lightblue;
          text-decoration: none;
        }

    .main-bar{
      height: calc(100% - 100px);
      width: 100%;
      background-color: #2f3e51;
      padding: 0 20px;
      overflow: scroll;
    }

      .room-name{
        padding: 20px 0 40px;
      }

      .room-name a{
        color: white;
        text-decoration: none;
      }

  .chat{
    width: calc(100% - 300px);
  }

    .header-chat{
      height: 100px;
      width: 100%;
      background-color: #ffffff;
      padding: 0 20px;
    }

    .center-chat{
      height: calc(100vh - 100px - 90px);
      width: 100%;
      background-color: #fafafa;
      padding: 46px 40px 0;
    }

    .bottom-chat{
      height: 90px;
      width: 100%;
      background-color: #dddddd;
      padding: 20px 40px;
    }